body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    background: linear-gradient(135deg,#ff9a9e,#fad0c4);
}
/* KHUNG LOGIN */
.login-box{
    width: 350px;
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    text-align: center;
    animation: hienLen 0.5s ease;
}
/* ICON */
.logo{
    font-size: 60px;
    margin-bottom: 10px;
}

/* TITLE */

.login-box h1{
    margin-bottom: 25px;
    color: #333;
}

/* INPUT */

.input-box{
    position: relative;
    margin-bottom: 20px;
}

.input-box input{
    width: 100%;
    padding: 14px;
    border: 2px solid #ddd;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
    box-sizing: border-box;
}

.input-box input:focus{
    border-color: orange;
    box-shadow: 0 0 10px rgba(255,165,0,0.4);
}

/* BUTTON */

button{
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg,orange,#ff5e62);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    transform: scale(1.03);
    opacity: 0.9;
}

/* TEXT */

.login-box p{
    margin-top: 20px;
    color: #666;
}

.login-box a{
    color: orange;
    text-decoration: none;
    font-weight: bold;
}

/* ERROR */

#thongBao{
    color: red;
    margin-top: 15px;
}

/* ANIMATION */

@keyframes hienLen{

    from{
        opacity: 0;
        transform: translateY(30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }

}