body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    font-family: Arial;
}

.login-box{
    width: 300px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h1{
    text-align: center;
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

button{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: orange;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover{
    opacity: 0.8;
}

#thongBao{
    color: red;
    text-align: center;
}