*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#f4f7fb;
}

header{
  background:#a34d2d;
  color:white;
  padding:25px;
  text-align:center;
  font-size:40px;
  font-weight:bold;
}

nav{
  background:white;
  display:flex;
  justify-content:center;
  gap:20px;
  padding:20px;
}

nav button{
  padding:12px 25px;
  border:none;
  border-radius:10px;
  background:#a34d2d;
  color:white;
  cursor:pointer;
  font-size:16px;
}

.container{
  width:95%;
  margin:auto;
  padding:30px 0;
}

.section-title{
  margin-bottom:20px;
  font-size:40px;
}

.filters{
  display:flex;
  gap:15px;
  margin-bottom:25px;
}

.filters select,
.filters input{
  padding:12px;
  border-radius:10px;
  border:1px solid #ccc;
  font-size:16px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:25px;
}

.card{
  background:white;
  border-radius:15px;
  overflow:hidden;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.card img{
  width:100%;
  height:250px;
  object-fit:cover;
}

.card-body{
  padding:20px;
}

.card-body h3{
  margin-bottom:10px;
  font-size:32px;
}

.badge{
  display:inline-block;
  padding:6px 14px;
  border-radius:20px;
  color:white;
  margin-bottom:10px;
}

.available{
  background:#28a745;
}

.pending{
  background:#ffc107;
  color:black;
}

.adopted{
  background:#dc3545;
}

.card-buttons{
  display:flex;
  gap:10px;
  margin-top:20px;
}

.card-buttons button{
  flex:1;
  padding:12px;
  border:none;
  border-radius:10px;
  color:white;
  cursor:pointer;
  font-size:16px;
}

.view-btn{
  background:#0056b3;
}

.adopt-btn{
  background:#146c2e;
}

.edit-btn{
  background:#ff9800;
}

.delete-btn{
  background:#dc3545;
}

.hidden{
  display:none !important;
}

form{
  display:flex;
  flex-direction:column;
  gap:12px;
  margin-bottom:30px;
}

form input,
form textarea,
form select{
  padding:12px;
  border-radius:10px;
  border:1px solid #ccc;
}

form button{
  padding:12px;
  border:none;
  border-radius:10px;
  background:#a34d2d;
  color:white;
  cursor:pointer;
}

table{
  width:100%;
  background:white;
  border-collapse:collapse;
  margin-top:20px;
}

table th,
table td{
  border:1px solid #ddd;
  padding:12px;
}

table th{
  background:#a34d2d;
  color:white;
}

.modal{
  position:fixed;
  inset:0;

  background:rgba(0,0,0,0.6);

  display:flex;
  justify-content:center;
  align-items:center;

  z-index:999;

  padding:20px;
}

.modal-content{
  background:white;

  width:100%;
  max-width:500px;

  border-radius:15px;

  padding:20px;

  position:relative;

  animation:popup .25s ease;
}

.modal-content img{
  width:100%;
  border-radius:10px;
  margin-bottom:15px;
}

.close{
  position:absolute;
  top:10px;
  right:15px;

  font-size:30px;
  font-weight:bold;

  cursor:pointer;
}

@keyframes popup{
  from{
    transform:scale(.8);
    opacity:0;
  }

  to{
    transform:scale(1);
    opacity:1;
  }
}